.lh {
    line-height: 5;
    padding-top: 20%;
    padding-bottom: 20%;
}

.navi {
    width: 100%;
    padding-top: 5%;
}

navi h1 {
    color: white;
}

.taille {
    width: 33%;
    height: 33%;

}

p {
    padding-top: 5%;
}

img {
    width: 33%;
}

button {
    background-color: #15959F;
    color: white;
    height: 10vh;
}